@model IEnumerable<DocusignDemo.Models.Recipient>
@{
    /**/
    ViewBag.Title = "ListDocuments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myTable td").click(function (e) {
            var docURL = $(this).closest('tr').children('td.docURL').text();
            $('#myModal').modal();
            $('#iframeHolder').html('<iframe id="iframe" src=' + "https://appdemo.docusign.com/auth-from-console?code=41a9944f-3c9f-4c5c-beca-d9d7ffe72c07&t=2688229f-8477-42d0-be7e-99100e931076&from=https%3A%2F%2Fdemo.docusign.net&view=true&DocuEnvelope=a8f5a42d-ce9a-4109-a986-8a05d6478750&e=a8f5a42d-ce9a-4109-a986-8a05d6478750&accountId=8e946bc4-4129-4ab4-900a-71d14342bcd7&a=templateDetails" + ' width="100%" height="450"></iframe>');
        });
    });
</script>

<body style="margin-top:20px">
    <div class="container">
        <div class="table-responsive">
            <table id="myTable" class="table table-bordered">
                <thead class="btn-primary">
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.Name) </th>
                        <th> @Html.DisplayNameFor(model => model.Email) </th>
                        <th> @Html.DisplayNameFor(model => model.EnvelopeID) </th> @*<th> @Html.DisplayNameFor(model => model.Status) </th>*@
                        <th> @Html.DisplayNameFor(model => model.SentOn) </th>
                        <th> @Html.DisplayNameFor(model => model.UpdatedOn) </th>
                        <th> Download </th>
                        <th> Validate </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Name) </td>
                            <td> @Html.DisplayFor(modelItem => item.Email) </td>
                            <td> @Html.DisplayFor(modelItem => item.EnvelopeID) </td> @*<td> @Html.DisplayFor(modelItem => item.Status) </td>*@
                            <td> @Html.DisplayFor(modelItem => item.SentOn) </td>
                            <td> @Html.DisplayFor(modelItem => item.UpdatedOn) </td>
                            <td> @*@Html.DisplayFor(modelItem => item.documentURL)*@ @Html.ActionLink(item.Status, "Download", "Docusign", new { filePath = item.documentURL }, null) </td>
                            <td hidden="hidden" class="docURL"> @Html.DisplayFor(modelItem => item.ValidateDoc)</td>
                            <td>
                                <button class="viewDoc">View</button>
                            </td>
                        </tr>
}
                </tbody>
            </table>
        </div>
    </div>
</body>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Validate Document</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="test1">
                <div id="iframeHolder"></div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 